.container {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 45px;
}


.questionContainer {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #C898E0;
  padding: 20px;
  padding-bottom: 10px;
  padding-bottom: 30px;
  position: relative;
}

.img1 {
  height: 120px;
  position: absolute;
  left: 20px;
  top: -20px;
}
.img2{
    height: 160px;
    position: absolute;
    right: 20px;
    top: -50px;
}

.questionText {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: #602B7A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

.contentContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-height: 300px;
}

.title{
  font-size: 34px;
  font-weight: 800;
  line-height: 41px;
  text-align: center;
  color: #602B7A
}

.description, .recommendation{
  font-size: 26px;
  font-weight: 800;
  line-height: 31px;
  color: #602B7A;
  margin-top: 30px;
}



.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 30px 30px
}

.button {
  all: unset;
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
  color: #602B7A;
  padding: 10px 20px;
  background-color: #82F7FF;
  border-radius: 45px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.1s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  transform: scale(0.98);
}