.answer{
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: #602B7A;
    background-color: #fff;
    border-radius: 45px;
    border: 2px solid #C898E0;
    padding: 10px 20px;
    margin-top: 16px;
    transition: transform 0.1s ease;
}

.answer:hover{
    cursor: grab;
}

.answer:active{
    transform: scale(0.98);
    cursor: grabbing;
}